.card {
    margin: 0 auto;
    width: 460px;
    height: 360px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px;
    background-image: url("https://codefinity-content-media.s3.eu-west-1.amazonaws.com/code-1/css-fundamentals/decorative-effects/challenge-background.png");
    background-position: center;
}

.card-content {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(78, 12, 87, 0.9);
}

h2 {
    color: #fff;
    margin: 0;
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    color: #fff;
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0062cc;
}
